$icon-path: '@renderer/assets/images/icons/' !default; // 图标文件夹路径
$icon-default-size: 1.25em !default; // 默认尺寸
$icon-size-unit: em !default; // 尺寸单位

// 预设尺寸
$icon-sizes: (
  s: 1,
  m: 1.25,
  l: 1.5,
  xl: 1.75,
  xxl: 2,
) !default;

$icons: (
  // hq: 'hq.png',
);

@mixin icon-base {
  display: inline-block;
  flex-shrink: 0;
  width: $icon-default-size;
  height: $icon-default-size;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: contain;
  vertical-align: middle;
  font-size: inherit;
  line-height: inherit;
}
@mixin icon-size($width, $height: $width) {
  width: $width;
  height: $height;
}

.icon {
  @include icon-base;

  // 预设尺寸变体
  @each $name, $size in $icon-sizes {
    &-#{$name} {
      @include icon-size(#{$size}#{$icon-size-unit});
    }
  }
}
@each $name, $file in $icons {
  .icon-#{$name} {
    background-image: url($icon-path + $file);
  }
}
