@use './mixins.scss' as *;
$inputColor: #3b60b4; //input 文字颜色
$inputBgColor: #f6fafd; //input 背景颜色
$inputBorderColor: rgba(43, 101, 240, 0.5); //input 边框颜色

/* 消息 */
.stone-message {
  position: absolute;
  right: 30px;
  top: 80px;
  z-index: 9999;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em 1em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #595959;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 15%);
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out,
    top 0.4s ease-out;
  text-align: center;
  pointer-events: all;

  .message-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;

    i {
      .message-icon-info {
        fill: #1890ff;
      }

      .message-icon-success {
        fill: #52c41a;
      }

      .message-icon-error {
        fill: #f5222d;
      }

      .message-icon-warning {
        fill: #faad14;
      }
    }
  }

  .message-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-left: 0.5em;
  }

  .message-option {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 0.5em;
    vertical-align: middle;
    cursor: pointer;

    i {
      transition: color 0.2s ease;

      &:hover {
        color: #ff7c75;
        transition: color 0.2s ease;
      }
    }
  }
}

.stone-message-fade-enter {
  opacity: 0;
  transform: translateY(100%);
}

.stone-message-fade-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

/* 类型切换 */
.stone-type {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  .stone-type-item {
    @include inline-flex();
    height: 2em;
    padding: 0 0.8em;
    font-size: 0.875em;
    font-weight: bold;
    color: #3b60b4;
    cursor: pointer;
    background-color: #f6fafd;
    border: 1px solid rgba(43, 101, 240, 0.5);
    border-right: none;
    transition: all 0.4s;

    &:first-child {
      border-radius: 0.4em 0 0 0.4em;
    }

    &:last-child {
      border-right: 1px solid rgba(43, 101, 240, 0.5);
      border-radius: 0 0.4em 0.4em 0;
    }

    &.active {
      color: #fefefe;
      background: linear-gradient(90deg, #5372e3, #8cacef);
    }
  }
}

.stone-time {
  display: inline-block;
  vertical-align: middle;

  .yds-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $inputColor;
    font-size: 0.875em;

    .icon-date {
      @include flex();
      width: 2em;
      height: 2em;
      background: $inputBgColor;
      border: 1px solid $inputBorderColor;
      border-right: 0;
      border-radius: 0.4em 0 0 0.4em;
    }

    .picker-date {
      min-width: 6.5em;
      height: 2em;
      padding: 0 0.5em;
      font-weight: bold;
      line-height: 2;
      text-align: center;
      cursor: pointer;
      user-select: none;
      background-color: $inputBgColor;
      border: 1px solid $inputBorderColor;
      border-radius: 0 0.4em 0.4em 0;
    }
  }
  &.trigger-time {
    .yds-picker {
      font-size: inherit;
    }
    .icon-date {
      width: 1.5em;
      height: 1.5em;
      border: none;
      color: #f97316;
      background: inherit;
    }
    .picker-date {
      border: none;
      padding: 0;
      height: 1.5em;
      line-height: 1.5em;
      color: #f97316;
      background: inherit;
    }
  }
}

.stone-time-window-hour {
  position: fixed;
  left: 0;
  top: 0;
  width: 18em;
  height: 17.5em;
  font-size: 0.875rem;
  background-color: #ffffff;
  box-shadow: 0 0 13px 0 #b5cff4;
  border-radius: 0.8em;
  z-index: 99;

  .date-select {
    width: 95%;
    height: 2em;
    margin: 0.25em auto;
    line-height: 2em;
    text-align: center;
    border-bottom: 1px solid rgba(43, 101, 240, 0.2);

    span {
      color: #323232;
      margin: 0 0.5em;
    }

    select {
      border: 1px solid rgba(43, 101, 240, 0.5);
      color: #0064d9;
      border-radius: 0.3em;
      cursor: pointer;
    }
  }

  .day-table {
    width: 95%;
    height: calc(100% - 3em);
    margin: 0.5em auto 0 auto;
    text-align: center;
    border-radius: 0.2em;

    table {
      width: 100%;
      height: 100%;
      color: #323232;

      td {
        font-weight: bold;
        line-height: 2em;

        .current-month {
          display: inline-block;
          width: 96%;
          color: #000e38;
          cursor: pointer;
          border-radius: 0.4em;

          &:hover {
            background: #0064d9;
            color: #f8f8f8;
          }

          &.active {
            background: #0064d9;
            color: #f8f8f8;
          }
        }

        span {
        }
      }
    }
  }
}

.stone-time-window-day {
  position: fixed;
  z-index: 99;
  width: 15em;
  padding: 0.25em;
  font-size: 0.9rem;
  background-color: #ffffff;
  box-shadow: 0 0 13px 0 #b5cff4;
  border-radius: 0.8em;

  .year-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2em;
    border-radius: 0.2em;
    border-bottom: 1px solid rgba(43, 101, 240, 0.2);
    .pre-year {
      width: 2em;
      height: 100%;
      cursor: pointer;
      background: url('@/assets/images/icon_pre.png') no-repeat center center;

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }

    .next-year {
      width: 2em;
      height: 100%;
      cursor: pointer;
      background: url('@/assets/images/icon_next.png') no-repeat center center;

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }

    span {
      width: 5em;
      height: 1.5em;
      font-weight: bold;
      // .flexLayout();
      border: 1px solid rgba(43, 101, 240, 0.5);
      color: #0064d9;
      border-radius: 0.3em;
    }
  }

  .month-table {
    width: 100%;
    height: calc(100% - 3em);
    margin-top: 0.3em;

    table {
      width: 100%;
      height: 100%;

      td {
        padding: 2px;
        line-height: 1.8em;
        text-align: center;
        border: 0;

        span {
          display: inline-block;
          width: 98%;
          height: 85%;
          font-size: 0.9rem;
          font-weight: bold;
          cursor: pointer;
          color: #000e38;
          cursor: pointer;
          border-radius: 0.4em;

          &:hover {
            background: #0064d9;
            color: #f8f8f8;
          }

          &.active {
            background: #0064d9;
            color: #f8f8f8;
          }
        }
      }
    }
  }
}

.stone-time-window-month {
  position: fixed;
  z-index: 99;
  width: 6em;
  height: auto;
  max-height: 10em;
  overflow-y: auto;
  border: 1px solid #ddd;
  background-color: #ffffff;
  box-shadow: 0 0 13px 0 #b5cff4;
  border-radius: 0.5em;
  padding: 0.3em 0.2em;

  ul {
    width: 100%;
    height: 100%;

    li {
      width: 95%;
      height: 1.5rem;
      margin: 0.25em auto;
      font-size: 0.8rem;
      font-weight: bold;
      line-height: 1.5rem;
      color: #000e38;
      text-align: center;
      cursor: pointer;
      background-color: #f8f8f8;
      border: 1px solid #eee;
      border-radius: 0.3rem;

      &:hover {
        background: #0064d9;
        color: #f8f8f8;
      }

      &.active {
        background: #0064d9;
        color: #f8f8f8;
      }
    }
  }
}
.stone-time-window-datetime {
  position: fixed;
  padding: 0.25em;
  font-size: 0.75rem;
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 5px 10px 0 #c5d8f1;
  z-index: 99;
  .datetime-date {
    width: 24em;
    display: inline-block;
    .day-header {
      @include flex();
      width: 95%;
      height: 2.5em;
      margin: 0 auto;
      border-bottom: 1px solid rgba(43, 101, 240, 0.2);
      .date-btn {
        flex-shrink: 0;
        color: #0064d9;
        padding: 0 0.5em;
        user-select: none;
        cursor: pointer;
      }
      .date-select {
        @include flex();
        flex: 1;
        text-align: center;
        span {
          color: #323232;
          margin: 0 0.5em;
        }
        .year-select,
        .month-select {
          padding: 0.25em 0.5em;
          color: #0064d9;
          border: 1px solid rgba(43, 101, 240, 0.5);
          border-radius: 0.3em;
          cursor: pointer;
        }
      }
    }
    .day-table {
      width: 95%;
      height: calc(100% - 3em);
      margin: 0.5em auto 0 auto;
      text-align: center;
      table {
        width: 100%;
        height: 100%;
        color: #323232;

        td {
          font-weight: bold;
          line-height: 2em;

          .current-month {
            display: inline-block;
            width: 96%;
            color: #000e38;
            cursor: pointer;
            border-radius: 0.4em;

            &:hover {
              background: #0064d9;
              color: #f8f8f8;
            }
            &.today {
              background: #0064d960;
              color: #f8f8f8;
            }

            &.active {
              background: #0064d9;
              color: #f8f8f8;
            }
          }
        }
      }
    }
  }
  .datetime-time {
    width: 8em;
    display: inline-flex;
    border-left: 1px solid rgba(43, 101, 240, 0.2);
    padding: 0 0.5em;
    .hour-group,
    .minute-group {
      display: inline-block;
      width: calc(50% - 0.25em);
      height: 100%;
      overflow-y: auto;
      overscroll-behavior: contain;
      -ms-overflow-style: none; // IE and Edge
      scrollbar-width: none; // Firefox
      &::-webkit-scrollbar {
        display: none; // Chrome、Safari 和 Opera
      }
      .hour,
      .minute {
        width: 100%;
        height: 2.4em;
        line-height: 2.4em;
        text-align: center;
        cursor: pointer;
        color: #333333;
        border: 2px solid transparent;
        border-radius: 0.4em;
        &:hover {
          background: rgba(0, 100, 217, 0.5);
          color: #f8f8f8;
        }
        &.active {
          background: #0064d9;
          color: #f8f8f8;
        }
      }
    }

    .hour-group {
      margin-right: 0.25em;
    }
  }
}
